@page "/Player/List"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Players</PageTitle>

<AuthorizeView Roles="Administrator">
    <Authorized>
        <h3>All Teams</h3>
    </Authorized>
    <NotAuthorized>
        <h3>My Team</h3>
    </NotAuthorized>
</AuthorizeView>
@code {

}
